html {
  background-image: url("./img/Background.png");
  background-size: cover;
}

#form-box {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
